[SERVER]
NAME=Nom de votre serveur
PASSWORD=votre_mot_de_passe_serveur
ADMIN_PASSWORD=votre_mot_de_passe_admin
MAX_CLIENTS=10
UDP_PORT=9603
TCP_PORT=9603
HTTP_PORT=9604
TRACK=ks_nordschleife
CONFIG_TRACK=endurance_cup
CARS=ks_ferrari_488_gt3
REGISTER_TO_LOBBY=1
LOOP_MODE=1
PICKUP_MODE_ENABLED=1
NUM_THREADS=2
SLEEP_TIME=1

[PRACTICE]
NAME=Practice
TIME=99999
IS_OPEN=1

[WEATHER_0]
GRAPHICS=3_clear
BASE_TEMPERATURE_AMBIENT=18
BASE_TEMPERATURE_ROAD=6
VARIATION_AMBIENT=2
VARIATION_ROAD=1
