[Unit]
Description=Minecraft Paper 1.17.1 Server
After=network.target

[Service]
User=user
WorkingDirectory=/opt/minecraft/paper
ExecStart=/usr/bin/java \
  -Xms512M \
  -Xmx1000M \
  -XX:+UseG1GC \
  -XX:+UnlockExperimentalVMOptions \
  -XX:G1HeapRegionSize=8M \
  -XX:MaxGCPauseMillis=50 \
  -XX:G1NewSizePercent=20 \
  -XX:G1ReservePercent=20 \
  -XX:G1HeapWastePercent=5 \
  -XX:G1MixedGCCountTarget=4 \
  -XX:InitiatingHeapOccupancyPercent=15 \
  -XX:G1MixedGCLiveThresholdPercent=90 \
  -XX:SurvivorRatio=32 \
  -XX:+PerfDisableSharedMem \
  -XX:MaxTenuringThreshold=1 \
  -DPaper.IgnoreJavaVersion=true \
  -jar paper-1.17.1.jar nogui
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
